body {
	background-color: #ff2e00;
}
div.heading {
	width: 80%;
	margin: 0 auto;
	padding: 12.9% 0;
	background: url(../img/basenjihead.png) no-repeat center center;
	background-size: 100% auto;
	text-align: center;
}
div.heading p {
	font-size: 450%;
	color: #fff;
	font-family: 'The Girl Next Door', cursive;
	padding: -3%;
	margin: -3%;
}
div.image1 {
	width: 57%;
	margin: 0 0% 0 auto;
	padding: 7% 1%;
	background: url(../img/basenjiimg1.png) no-repeat center center;
	background-size: 68% auto;
	float: left;
	text-align: center;
}
div.image1 img {
	width: 50%;
	height: 70%
}
div.paragraph {
	width: 40%;
	padding: 40% 0%;
	background: url(../img/basenjip.png) no-repeat center center;
	background-size: 68% auto;
	float: right;
	text-align: center;
}
div.paragraph p {
	font-family: 'The Girl Next Door', cursive;
	font-size: 110%;
	color: #ffffff;
	padding-right: 25%;
	padding-left: 25%;
}
div.list {
	width: 57%;
	margin: 0 0% 0 auto;
	padding: 22% 0%;
	background: url(../img/basenjilist.png) no-repeat center center;
	background-size: 68% auto;
	float: left;
	text-align: center;
}
div.list p {
	font-family: 'The Girl Next Door', cursive;
	font-size: 120%;
	color: #fff;
}
div.image2 {
	width: 40%;
	margin: 0 0% 0 auto;
	padding: 8% 9%;
	background: url(../img/basenjiimg2.png) no-repeat center center;
	background-size: 68% auto;
	float: left;
	text-align: center;
}
div.image2 img {
	height: 80%;
	width: 60%;
}
@media screen and (max-width: 699px)  {
	div.heading p {
		font-size: 200%;
	}

}
@media screen and (max-width: 699px)  {
	div.image1 img {
		width: 45%;
		height: 20%;
	}

}
@media screen and (max-width: 699px)  {
	div.paragraph {
		font-size: 70%;
	}

}